{
  "enabled": true,
  "analyticsDatabaseConfig": "playeranalytics.database.jsonc",
  "settleDelaySeconds": 5,
  "queriesPerFrame": 8,
  "serverTag": "",
  "convars": [
    "cl_crosshaircolor",
    "cl_crosshaircolor_r",
    "cl_crosshaircolor_g",
    "cl_crosshaircolor_b",
    "cl_crosshairsize",
    "cl_crosshairthickness",
    "cl_crosshairgap",
    "cl_crosshairstyle",
    "cl_crosshairdot",
    "cl_crosshairalpha",
    "cl_crosshairusealpha",
    "cl_crosshair_drawoutline",
    "cl_crosshair_outlinethickness",
    "cl_crosshair_recoil",
    "cl_crosshair_t",
    "cl_fixedcrosshairgap",
    "cl_crosshair_dynamic_maxdist_splitratio",
    "cl_crosshair_dynamic_splitalpha_innermod",
    "cl_crosshair_dynamic_splitalpha_outermod",
    "cl_crosshair_dynamic_splitdist",
    "sensitivity",
    "zoom_sensitivity_ratio",
    "m_pitch",
    "m_yaw",
    "viewmodel_fov",
    "viewmodel_offset_x",
    "viewmodel_offset_y",
    "viewmodel_offset_z",
    "viewmodel_presetpos",
    "cl_prefer_lefthanded",
    "cl_radar_scale",
    "cl_radar_rotate",
    "cl_radar_always_centered",
    "cl_radar_icon_scale_min",
    "cl_hud_radar_scale",
    "cl_radar_square_with_scoreboard",
    "cl_hud_color",
    "hud_scaling",
    "cl_color",
    "cl_showloadout",
    "cl_show_clan_in_death_notice",
    "cl_teammate_colors_show",
    "cl_use_opens_buy_menu",
    "cl_teamcounter_playercount_instead_of_avatars",
    "cl_silencer_mode",
    "cl_grenadecrosshair",
    "cl_grenadecrosshairdelay",
    "name",
    "volume",
    "voice_vox",
    "snd_mixahead",
    "mm_dedicated_search_maxping",
    "cl_allow_animated_avatars"
  ]
}
